::selection {
    background-color: #49494900;
    color: #dd6300;

    text-shadow: 1px 1px 3px black;
}

body {
    background-color: #838383;
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: 555;

}

.popup-container {

    text-align: center;

}

#Screen-Chrome-Exst_house {
    display: block;
}

#Screen-Chrome-Exst_settings {
    display: none;
}

#Screen-Chrome-Exst_credits {
    display: none;
}

p {

    font-size: 13px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s;
}

a:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
    cursor: pointer;
    font-size: 14px;
}

h1 {

    user-select: none;
    font-size: 16px;
    color: #c7c7c7;
}

h2 {
    font-family: sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-family: monospace;
}

h4 {
    font-size: 15px;
    margin: 5px 0px;
}

#Screen-Chrome-Exst_credits a {
    text-decoration: underline;
    color: #ffc393;
    font-family: cursive;
    font-size: 16px;

}

#Screen-Chrome-Exst_credits a:hover {
    color: rgb(214, 182, 0);
}


footer {
    user-select: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 15px 0px 0px;
}

footer button {
    cursor: pointer;
    width: 90%;
    margin: 0px 2px;
    height: 25px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s;
}

footer button:hover {
    background-color: #acacac;
    box-shadow: 1px 1px 9px;
}

footer button:active {
    background-color: #fc770b;
    box-shadow: 1px 1px 9px #fc770b;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #FF4500;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

form input::placeholder {
    color: white;
    text-align: center;
    transition: margin-left 0.2s;
}

form input:focus::placeholder {
    margin-left: 200px;
}

form input {
    text-align: center;
    border: none;
    margin: 3px;
    color: white;
    padding: 3px;
    border-radius: 7px;
    background-color: #494949;
}

form select {
    color: white;
    margin: 6px;
    background-color: #494949;
    border: none;
    padding: 3px 14px;
    border-radius: 10px;
}

form input:focus {
    border: none;
    outline: none;
}

form button {
    user-select: none;
    cursor: pointer;
    border: none;
    margin-top: 3px;
    padding: 3px 17px;
    border-radius: 10px;
    background-color: #ccc;
}

form button:hover {
    background-color: #a5a5a5;
}

#backgroundURL {
    margin: auto;
    display: none;
    margin-top: 15px;
}

#backgroundURL.backgroundURL-Checked {
    display: block;
}